.home {
    background-image: url('../../assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 425px) {
    .home {
        background-image: url('../../assets/images/mobbanner.jpg');
        background-position: unset;
    }
}
