*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

@font-face {
  font-family: 'GilroyRegular';
  src: url('./assets/fonts/Gilroy-Regular.ttf');
}

@font-face {
  font-family: 'GilroyRegularItalic';
  src: url('./assets/fonts/Gilroy-RegularItalic.ttf');
}

@font-face {
  font-family: 'GilroyMedium';
  src: url('./assets/fonts/Gilroy-Medium.ttf');
}

@font-face {
  font-family: 'GilroyBold';
  src: url('./assets/fonts/Gilroy-Bold.ttf');
}

@font-face {
  font-family: 'GilroyBoldItalic';
  src: url('./assets/fonts/Gilroy-BoldItalic.ttf');
}

@font-face {
  font-family: 'GilroyLight';
  src: url('./assets/fonts/Gilroy-Light.ttf');
}

@font-face {
  font-family: 'GilrowSemibold';
  src: url('./assets/fonts/Gilroy-Semibold.ttf');
}