@mixin display-flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.rules {
    margin-top: 196px;

    .imgmob {
        display: none;
    }

    .title {
        color: #ffffff;
        font-family: 'GilroyBoldItalic';
        font-size: 88px;
        text-align: center;
    }

    .container {
        @include display-flex;

        color: #ffffff;
        font-family: 'GilroyRegular';
        font-size: 20px;
        margin: 32px auto 0;
        max-width: 1524px;

        .rules__item {
            .rules__img {
                margin-bottom: 18px;
            }

            img {
                height: 260px;
                width: 309px;
            }

            .rules__txt {
                text-align: center;
            }

            .rules__last {
                margin-top: -22px;
            }
        }

        
    }
}

@media (max-width: 1262px) {
    .rules {
        .container {
            .rules__item {
                .rules__img {
                    text-align: center;
                }

                img {
                    height: 160px;
                    width: 200px;
                }
            }
            
        }

    }
}


@media (max-width: 974px) {
    .rules {
        .container {
            flex-wrap: wrap;
            
        }

    }
}

@media (max-width: 425px) {
    .rules {
        margin-top: 43px;

        .container {
            display: block;

            .rules__item {

                .rules__img {
                    display: flex;
                    justify-content: center;

                    img {
                        display: none;
                    }

                    .imgmob {
                        display: block;
                        width: 208px;
                    }
                }

                .rules__txt {
                    font-size: 16px;
                }
            }
        }
        .title {
            font-size: 36px;
        }

        

    }
}