.slider {
    align-items: center;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin: 71px auto 0;
    max-width: 1761px;

    .txtmob {
        display: none;
    }

    .nextmob {
        display: none;
    }

    button {
        background-color: unset;
        border: none;
        outline: none;
    }

    .prevb {
        margin-right: 64px;
    }

    .nextb {
        margin-left: 64px;
    }

    .center {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 346px;
        }

        .txt {
            font-family: 'GilroyBold';
            font-size: 33px;
            display: inline-block;
            margin-top: 25px;
            position: relative;
            text-align: center;

            .txtformmob {
                display: none;
            }
        }

        .chestWrapper {
            cursor: pointer;
        }
    }

    .close {
        filter: blur(3px);

        img {
            width: 210px;
        }
    }

    .far {
        filter: blur(5px);

        img {
            width: 138px;
        }
    }

    .info {
        cursor: pointer;
        position: absolute;
        left: 103%;
        top: 15%;

        img {
            width: 26px;
        }
    }
}

.popup_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Прозрачность подложки */
    z-index: 100;
    /* Значение z-index может быть изменено в зависимости от вашей структуры страницы */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Стили для контейнера "pop-up" окна */
.popup {
    background-image: url('../../assets/images/popup.png');
    // background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 35px 55px;
    position: relative;
    width: 972px;

    .bigchestmob {
        display: none;
    }

    .title {
        font-family: 'GilroyBold';
        font-size: 43px;
    }

    .txt {
        color: #D7E0E0;
        font-size: 23px;
        font-family: 'GilroyRegular';
        margin-top: 15px;
    }

    table {
        border: 2px solid #4B5F67;
        border-radius: 11px;
        font-family: 'GilroyRegular';
        font-size: 18px;
        margin-top: 14px;
        text-align: center;

        td {
            border-bottom: 1px solid #4B5F67;
            padding: 7px;
            width: 235px;
        }

        .first {
            border-right: 1px solid #4B5F67;
        }
    }

    .infotxt {
        color: #D7E0E0;
        font-size: 23px;
        font-family: 'GilroyRegular';
        margin-top: 23px;

        .infotxtmob {
            display: none;
        }
    }

    .closebtn {
        cursor: pointer;
        position: absolute;
        top: 13px;
        right: 15px;

        img {
            width: 32px;
        }
    }

    .bigchest {
        position: absolute;
        top: 45px;
        left: 550px;
    }
}

.none {
    display: none;
}

@media (max-width: 1262px) {
    .slider {
        .chestWrapper {

            img {
                width: 250px;
            }
        }

        .close {

            img {
                width: 150px;
            }
        }

        .far {

            img {
                width: 90px;
            }
        }
    }
}

@media (max-width: 974px) {
    .slider {
        justify-content: center;

        .close {
            display: none;
        }

        .far {
            display: none;
        }
    }
}

@media (max-width: 425px) {
    .slider {
        position: relative;
        
        .chestWrapper {
            img {
                width: 191px;
            }
        }

        .prevb {
            position: absolute;
            
            img {
                width: 30px;
            }

            bottom: 0;
            left: 76px;
        }

        .nextb {
            position: absolute;

            img {
                width: 30px;
            }

            bottom: 0;
            right: 76px;
        }

        .nextmob {
            display: block;
        }

        .txtmob {
            display: inline;
        }

        .txtdesktop {
            display: none;
        }

    }

    .popup {
        background-image: url('../../assets/images/popupmob.png');
        background-repeat: no-repeat;
        padding: 120px 22px 41px;
        width: 294px;

        .title {
            font-size: 22px;
        }

        .txt {
            font-size: 15px;

            .txtformdesktop {
                display: none;
            }

            .txtformmob {
                display: inline;
            }
        }

        table {
            font-size: 11px;
        }

        .infotxt {
            font-size: 12px;

            .infotxtdesktop {
                display: none;
            }

            .infotxtmob {
                display: inline;
            }
        }

        .bigchest {
            display: none;
        }

        .bigchestmob {
            display: block;
            position: absolute;
            bottom: calc(76%);
            left: 40px;
        }
    }
}

@media (max-width: 425px) {
    .slider {
        .prevb {
            position: absolute;
            
            img {
                width: 30px;
            }

            bottom: 0;
            left: 50px;
        }

        .nextb {
            position: absolute;

            img {
                width: 30px;
            }

            bottom: 0;
            right: 50px;
        }
    }
}

@media (max-width: 320px) {
    .slider {
        .prevb {
            position: absolute;
            
            img {
                width: 30px;
            }

            bottom: 0;
            left: 25px;
        }

        .nextb {
            position: absolute;

            img {
                width: 30px;
            }

            bottom: 0;
            right: 25px;
        }
    }
}